#rect {
  width:100px;
  height:100px;
  background-color: green;
  transition: all 1s;
  transition-delay: 1s;
}

#heading {
  transition: all 1s;
  transition-delay: 1s;
}

#myContainer {
  margin:40px;
}
