body{
  background-color: LightBlue;
  margin: 0;
  padding: 0;
}

#umbrella > canvas {
  border-color: transparent;
}


.try {
  display:inline;
  visibility: hidden;
  transition: 0.64s ease-in-out;
  box-shadow: -8px 8px 10px 5px rgb(40,1,0);
}

#tryFirst {
  background-image: url(../asset/images/scream1.jpeg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: auto;
  width:500px;
  height: 671px;
  transition-delay: 3s;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 100px;
  transform: scale(10%);
  transition-duration: 0.1s;
  transform-origin: top 50px left 50px;
}

#trySecond {
  background-image: url(../asset/images/scream2.jpeg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: auto;
  width:600px;
  height: 511px;
  transition-delay: 3.5s;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 300px;
  transform: scale(10%);
  transition-duration: 0.1s;
  transform-origin: top 50px left 50px;
}

#tryThird {
  background-image: url(../asset/images/scream5.jpeg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: auto;
  width:600px;
  height: 400px;
  transition-delay: 4s;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(10%);
  transition-duration: 0.1s;
  transform-origin: top 50px left 50px;
}

#try4 {
  background-image: url(../asset/images/scream4.jpeg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: auto;
  width:900px;
  height: 450px;
  transition-delay: 4.5s;
  overflow: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  transform: scale(10%);
  transition-duration: 0.1s;
  transform-origin: center;
}

#try5 {
  background-image: url(../asset/images/scream3.jpeg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: auto;
  width:780px;
  height: 704px;
  transition-delay: 5s;
  overflow: hidden;
  position: absolute;
  top: 300px;
  left: 500px;
  transform: scale(10%);
  transition-duration: 0.1s;
  transform-origin: center;
}

#try6 {
  background-image: url(../asset/images/scream6.jpeg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: auto;
  width:1765px;
  height: 495px;
  transition-delay: 5.5s;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(10%);
  transition-duration: 0.1s;
  transform-origin: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: green;
  cursor: pointer;
  border-radius: 30px;
}
